.dspf {
    width: 100%;
    height: 100px;
    padding-left: 30px;
    display: flex;
}

.lgm {
    width: 100%;
    padding-left: 300px;
}
.lgm img{
    width: 150px;
    padding-top: 10px;
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.nvb {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    display: flex;
    align-items: center;

}